<div class="container bg-light py-5">
    <h1>Welcome to angular application test portal</h1>
    <p>This test consists of 10 typescript questions. Each question holds one point.
    </p>
    <p>Rules:</p>
    <p>One mark will be awarded for right answer.0 point will be awarded for wrong answer.</p>
        <p>Student will be having one minute to answer the question.</p>    
    <p> No practice related to unfair means are allowed.</p>    
    <div class="name col-md-4 my-3">
        <label for=" " >Enter your name</label>
        <input #name type="text" class="form-control" ngModel required>
    </div>
    <button class="btn btn-primary btn-lg"  routerLink="/question"> Submit</button>
    
</div>